.logo
{
	margin-left: 0;
	font-size: 45px;
}

.menu
{
	width: 60%;
	margin-left: 5%;
}

.bigHeader_block
{
	height: 140px;
}

.big_header
{
	font-size: 45px;
}

.small_header
{
	font-size: 25px;
}

.advRight_list
{
	margin-left: 180px;
}

.logo_leftBtn
{
	left: 2%;
}

.logo_rightBtn
{
	right: 2%;
}

.coursesList_right
{
	margin-left: 0;
}

.coursesList_programming, .coursesList_economics, .coursesList_algorithm, .coursesList_history
{
	transform: scale(0.87);
}

.partnersLogo_block
{
	width: 870px;
}

.harvardCertificate_block
{
	width: 355px;
	align-items: center;
}

.certificate_header
{
	text-align: center;
}

.ourTeam_workers
{
	width: 100%;
	justify-content: space-evenly;
}

.worker1, .worker2, .worker3, .worker4
{
	background-position: center 0;
	width: 220px;
}
