@font-face {
	font-family: "LatoLight";
	src: url(font/LatoLight.ttf);
}

@font-face {
	font-family: "LatoRegular";
	src: url(font/LatoRegular.ttf);
}

@font-face {
	font-family: "OpenSansLight";
	src: url(font/OpenSansLight.ttf);
}

@font-face {
	font-family: "OpenSansBold";
	src: url(font/OpenSansBold.ttf);
}

@font-face {
	font-family: "OpenSans";
	src: url(font/OpenSans.ttf);
}

*
{
	margin: 0;
	padding: 0;
}

header
{
	background: url(../images/header_bg.jpg) center 0 no-repeat;
	width: 100%;
	height: 700px;
}

.menu_block
{
	display: flex;
	justify-content: center;
	color: #ffffff;
}

.logo
{
    margin-left: -35px;
    margin-top: 47px;
	color: #ffffff;
    font-family: "LatoLight";
    text-transform: uppercase;
    font-size: 52px;
    letter-spacing: 0.1px;
}

.mobileMenuBlock
{
	display: none;
}

.menu
{
	position: relative;
    width: 739px;
    margin-top: 63px;
    margin-left: 76px;
	display: flex;
    justify-content: space-between;
}

.menu_list
{
	text-decoration: none;
	font-family: "OpenSansLight";
    color: #ffffff;
    font-size: 26px;
    letter-spacing: -0.3px
}

.white_line
{
	position: absolute;
	bottom: 0;
	background: #ffffff;
	width: 40px;
	height: 1px;
	transition: all 0.3s ease-out;
}

.bigHeader_block
{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
	color: #ffffff;
    text-transform: uppercase;
}

.big_header
{
	margin-left: 7.2%;
	font-family: "OpenSansBold";
    font-size: 60px;
    letter-spacing: 0.5px;
}

.small_header
{
	margin-left: 7.2%;
	font-family: "OpenSansBold";
    font-size: 35px;
    letter-spacing: -0.6px;
}

.signForm_block
{
	display: flex;
	flex-direction: column;
	margin-top: 39px;
}

.login
{
	width: 348px;
	height: 62px;
	display: flex;
	align-self: center;
	margin-left: 35.6%;
	box-sizing: border-box;
	padding: 0 0 0 21px;
	font-family: "OpenSans";
	font-size: 21px;
	letter-spacing: -0.8px;
}

.pass
{
	width: 348px;
	height: 62px;
	display: flex;
	align-self: center;
	box-sizing: border-box;
	margin-top: 39px;
	margin-left: 35.6%;
	padding: 0 0 0 24px;
	font-family: "OpenSans";
	font-size: 21px;
	letter-spacing: 0.3px;
}

.sub_btn
{
	background: #ba271f;
	width: 350px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-self: center;
	margin-top: 42px;
	margin-left: 35.5%;
	border: 1px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	font-family: "OpenSans";
	font-size: 21px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

/*--------------------------------------------------------------------*/

.advantages_block
{
	background: url(../images/advantageBg.png) center 276px no-repeat;
	height: 629px;
	box-sizing: border-box;
	padding-top: 29px;
}

.advantage_header
{
	width: fit-content;
	margin: 0 auto;
	font-family: "OpenSans";
	text-transform: uppercase;
	font-size: 45px;
}

.advantageList_block
{
	display: flex;
	justify-content: center;
}

.advLeft_list
{
	width: 344px;
	display: flex;
	flex-direction: column;
}

.advLeft_clock
{
	background: url(../images/Clock.png) center 25px no-repeat;
	height: 208px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.advLeftClock_header
{
	font-family: "OpenSans";
	font-size: 30px;
	text-align: center;
	line-height: 1.6;
}

.advLeftClock_text
{
	font-family: "OpenSans";
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

.advLeft_globe
{
	background: url(../images/Globe.png) center 0 no-repeat;
	height: 208px;
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.advLeftGlobe_header
{
	font-family: "OpenSans";
	font-size: 30px;
	text-align: center;
	line-height: 1.8;
}

.advLeftGlobe_text
{
	font-family: "OpenSans";
	font-size: 15px;
	text-align: center;
	line-height: 1.9;
}

.advRight_list
{
	width: 344px;
	display: flex;
	margin-left: 414px;
	flex-direction: column;
}

.advRight_iphone
{
	background: url(../images/iPhone.png) 51.4% 25px no-repeat;
	height: 237px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.advRightIphone_header
{
	font-family: "OpenSans";
	font-size: 30px;
	text-align: center;
	line-height: 1.6;
}

.advRightIphone_text
{
	font-family: "OpenSans";
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

.advRight_man
{
	background: url(../images/Man.png) center 0 no-repeat;
	height: 208px;
	margin-top: 33px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.advRightMan_header
{
	font-family: "OpenSans";
	font-size: 30px;
	text-align: center;
	line-height: 1.6;
}

.advRightMan_text
{
	font-family: "OpenSans";
	font-size: 15px;
	text-align: center;
	line-height: 1.9;
}

/*---------------------------------------------------------*/

.courses_block
{
	background-color: #f0f0f0;
	height: 793px;
	display: flex;
	flex-direction: column;
}

.coursesHeader_block
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 36px;
}

.coursesHeader_big
{
	font-family: "OpenSans";
	font-size: 44px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

.coursesHeader_small
{
	margin-top: 8px;
	font-family: "OpenSans";
	font-size: 24px;
	letter-spacing: 0.7px;
}




.coursesList_block
{
	display: flex;
	justify-content: center;
	margin-top: 46px;
}

.coursesList_left
{
	display: flex;
	flex-direction: column;
}

.coursesList_programming
{
	background: #e8e8e8 url(../images/programming.png) 286px 28px no-repeat;
	width: 540px;
	height: 273px;
	position: relative;
}

.programming_header
{
	width: 187px;
	position: absolute;
	top: 8px;
	left: 51px;
	font-family: "OpenSans";
	font-size: 26px;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 1.3;
}

.programming_text
{
	width: 245px;
	position: absolute;
	top: 80px;
	left: 22px;
	font-family: "LatoRegular";
	font-size: 17px;
	letter-spacing: 0.2px;
	line-height: 1.8;
}

.programming_text>a
{
	text-decoration: none;
	color: #fa3a5e;
}

.regOnCourse
{
	width: 160px;
	height: 30px;
	border: 1px solid #ffffff;
	background: #ba271f;
	position: absolute;
	bottom: 20px;
	left: 96px;
	font-family: "OpenSans";
	text-transform: uppercase;
	font-size: 10px;
	color: #ffffff;
	cursor: pointer;
}

.coursesList_economics
{
	background: #e8e8e8 url(../images/economics.png) 286px 28px no-repeat;
	width: 540px;
	height: 273px;
	margin-top: 19px;
	position: relative;
}

.economics_header
{
	width: 147px;
	position: absolute;
	top: 5px;
	left: 72px;
	font-family: "OpenSans";
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.6px;
	line-height: 1.5;
}

.economics_text
{
	width: 245px;
	position: absolute;
	top: 80px;
	left: 22px;
	font-family: "LatoRegular";
	font-size: 17px;
	letter-spacing: 0.2px;
	line-height: 1.8;
}

.economics_text>a
{
	text-decoration: none;
	color: #fa3a5e;
}




.coursesList_right
{
	margin-left: 32px;
}

.coursesList_algorithm
{
	background: #e8e8e8 url(../images/algorithm.png) 286px 28px no-repeat;
	width: 540px;
	height: 273px;
	position: relative;
}

.algorithm_header
{
	width: 220px;
	position: absolute;
	top: 7px;
	left: 36px;
	font-family: "OpenSans";
	font-size: 26px;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 1.3;
}

.algorithm_text
{
	width: 245px;
	position: absolute;
	top: 80px;
	left: 22px;
	font-family: "LatoRegular";
	font-size: 17px;
	letter-spacing: 0.2px;
	line-height: 1.8;
}

.algorithm_text>a
{
	text-decoration: none;
	color: #fa3a5e;
}

.coursesList_history
{
	background: #e8e8e8 url(../images/history.png) 286px 28px no-repeat;
	width: 540px;
	height: 273px;
	margin-top: 19px;
	position: relative;
}

.history_header
{
	width: 170px;
	position: absolute;
	top: 7px;
	left: 60px;
	font-family: "OpenSans";
	font-size: 25px;
	text-align: center;
	letter-spacing: 0.1px;
	line-height: 1.3;
}

.history_text
{
	width: 245px;
	position: absolute;
	top: 80px;
	left: 22px;
	font-family: "LatoRegular";
	font-size: 17px;
	letter-spacing: 0.2px;
	line-height: 1.8;
}

.history_text>a
{
	text-decoration: none;
	color: #fa3a5e;
}


/*-----------------------------------------------------*/

.partners_block
{
	height: 864px;
	box-sizing: border-box;
}

.partners_slider
{
	height: 462px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 31px 0 43px 0;
	position: relative;
}

.partners_header
{
	font-family: "OpenSans";
	font-size: 44px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.6px;
}

.partnersLogo_block
{
	width: 71.6%;
	height: 308px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	/* outline: 1px solid; */
}

.logo_leftBtn
{
	background: url(../images/btnLeft.png) 0 0 no-repeat;
	width: 44px;
	height: 44px;
	position: absolute;
	left: 10.1%;
	top: 218px;
	cursor: pointer;
	transition: background 0.3s ease-out;
}

.logo_leftBtn:hover
{
	background: url(../images/btnLeftWhite.png) 0 0 no-repeat;
}

.logo_rightBtn
{
	background: url(../images/btnRight.png) 0 0 no-repeat;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 218px;
	right: 9.5%;
	cursor: pointer;
	transition: background 0.3s ease-out;
}

.logo_rightBtn:hover
{
	background: url(../images/btnRightWhite.png) 0 0 no-repeat;
}

.partnersLogo_slider
{
	width: 1154px;
	display: flex;
	position: absolute;
}

.partners_slide1
{
	background: url(../images/cambridge.jpg) center 0 no-repeat;
	width: 300px;
	height: 308px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: "OpenSans";
	font-size: 25px;
}

.partners_slide1:hover, .partners_slide2:hover, .partners_slide3:hover, .partners_slide4:hover
{
	color: #ba271f;
}

.partners_slide2
{
	background: url(../images/harvard.jpg) 14px 0 no-repeat;
	width: 300px;
	height: 308px;
	box-sizing: border-box;
	padding: 0 19px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: "OpenSans";
	font-size: 25px;
}

.partners_slide3
{
	background: url(../images/massachusetts.jpg) 9px 0 no-repeat;
	width: 300px;
	height: 308px;
	box-sizing: border-box;
	padding: 0 13px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: "OpenSans";
	font-size: 25px;
	text-transform: uppercase;
}

.partners_slide4
{
	background: url(../images/california.jpg) 6px 0 no-repeat;
	width: 300px;
	height: 308px;
	box-sizing: border-box;
	padding: 0 16px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: "OpenSans";
	font-size: 25px;
	text-transform: uppercase;
}

.partners_certificate
{
	background: #a99473;
	position: relative;
	width: 100%;
	height: 402px;
}

.harvardCertificate_photo
{
	background: url(../images/certificateBg.jpg) 0 0 no-repeat;
	width: 50%;
	height: 100%;
}

.harvardCertificate_block
{
	width: 462px;
	position: absolute;
	top: 33px;
	left: 55.9%;
	display: flex;
	flex-direction: column;
}

.certificate_header
{
	font-family: "OpenSansLight";
	font-size: 35px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	text-align: right;
}

.certificate_text
{
	width: 348px;
	margin-top: 18px;
	font-family: "LatoLight";
	font-size: 17px;
	color: #ffffff;
	letter-spacing: 0.9px;
	line-height: 1.7;
}

.certificate_btn
{
	background: #ba271f;
	border: 1px solid #ffffff;
	width: 261px;
	height: 60px;
	margin: 14px 0 0 3px;
	font-family: "OpenSans";
	font-size: 22px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}


/*------------------------------------------------------------*/

.ourTeam_block
{
	background: #fffcf4;
	height: 691px;
	box-sizing: border-box;
	padding-top: 27px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ourTeam_header
{
	font-family: "OpenSans";
	font-size: 47px;
	text-transform: uppercase;
}

.ourTeam_workers
{
	width: 1110px;
	margin-top: 41px;
	display: flex;
	justify-content: space-between;
}

.worker1
{
	background: url(../images/worker1.jpg) 0 0 no-repeat;
	width: 254px;
	height: 505px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.worker2
{
	background: url(../images/worker2.jpg) 0 0 no-repeat;
	width: 254px;
	height: 505px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.worker3
{
	background: url(../images/worker3.jpg) 0 0 no-repeat;
	width: 254px;
	height: 505px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.worker4
{
	background: url(../images/worker4.jpg) 0 0 no-repeat;
	width: 254px;
	height: 505px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.worker_name
{
	font-family: "LatoRegular";
	font-size: 20px;
	margin-bottom: 13px;
}

.worker_text
{
	width: 192px;
	margin-bottom: 18px;
	font-family: "LatoRegular";
	font-size: 13px;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 1.7;
}

.worker_social
{
	height: 27px;
	display: flex;
	justify-content: center;
}

.worker_fb
{
	background: url(../images/workersSocial.png) 0 0 no-repeat;
	width: 27px;
	height: 27px;
}

.worker_tw
{
	background: url(../images/workersSocial.png) -44px 0 no-repeat;
	width: 27px;
	height: 27px;
	margin: 0 17px;
}

.worker_google
{
	background: url(../images/workersSocial.png) -88px 0 no-repeat;
	width: 27px;
	height: 27px;
}

/*-------------------------------------------------------------------*/

.checkIn_block
{
	background: #b4a184;
	height: 482px;
	box-sizing: border-box;
	padding-top: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkIn_header
{
	margin-left: -69px;
	font-family: "OpenSans";
	font-size: 62px;
	text-transform: uppercase;
	color: #f3f3f3;
	letter-spacing: -1.3px;
}

.checkIn_text
{
	margin: -5px 0 0 -71px;
	font-family: "OpenSans";
	font-size: 26px;
	color: #f3f3f3;
	letter-spacing: -0.5px;
}

.checkIn_Form
{
	margin: 21px 0 0 -18px;
	display: flex;
	flex-direction: column;
}

.checkIn_name
{
	border: none;
	width: 540px;
	height: 64px;
	box-sizing: border-box;
	padding: 0 0 6px 33px;
	font-family: "LatoRegular";
	font-size: 25px;
}

.checkIN_mail
{
	border: none;
	width: 540px;
	height: 64px;
	margin-top: 30px;
	box-sizing: border-box;
	padding: 0 0 5px 34px;
	font-family: "LatoRegular";
	font-size: 25px;
}

.checkIn_btn
{
	background: #ba271f;
	border: none;
	width: 159px;
	height: 64px;
	margin: 30px 0 0 19px;
	box-sizing: border-box;
	padding-bottom: 3px;
	align-self: center;
	font-family: "LatoRegular";
	font-size: 27px;
	color: #ffffff;
	letter-spacing: -1px;
}

/*-------------------------------------------*/

footer
{
	background: #a99473;
	height: 290px;
	box-sizing: border-box;
	padding: 52px 0 22px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.madeBy
{
	font-family: "OpenSans";
	font-size: 25px;
	color: #dfdfdf;
}

.madeBy span
{
	color: #ba271f;
}

.ispiredBy
{
	margin-top: -25px;
	font-family: "OpenSans";
	font-size: 25px;
	color: #dfdfdf;
}

.ispiredBy span
{
	color: #ba271f;
}

.inSoc_block
{
	width: 239px;
	height: 105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.inSoc_line1
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.inSocLine1_tw
{
	background: url(../images/footer_social_blue.png) 0 0 no-repeat;
	width: 48px;
	height: 48px;
}

.inSocLine1_fb
{
	background: url(../images/footer_social_blue.png) -95px 0 no-repeat;
	width: 48px;
	height: 48px;
}

.inSocLine1_gl
{
	background: url(../images/footer_social_blue.png) -191px 0 no-repeat;
	width: 48px;
	height: 48px;
}

.inSoc_line2
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.inSocLine2_tw
{
	background: url(../images/footer_social_red.png) 0 0 no-repeat;
	width: 48px;
	height: 48px;
}

.inSocLine2_fb
{
	background: url(../images/footer_social_red.png) -95px 0 no-repeat;
	width: 48px;
	height: 48px;
}

.inSocLine2_gl
{
	background: url(../images/footer_social_red.png) -191px 0 no-repeat;
	width: 48px;
	height: 48px;
}
