header
{
	background-position: -390px 0;
    position: relative;
}

.logo
{
	margin-top: 0;
}

.menu
{
    display: none;
}

.mobileMenuBlock
{
    display: block;
    background: grey;
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    z-index: 1;
}

.mobileMenuBtn
{
    border: 1px solid #ffffff;
    background: #000;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.mobileMenuBtnLine
{
    background: #ffffff;
    width: 30px;
    height: 2px;
    display: block;
}

.mobileMenu
{
    background: rgba(89, 73, 65, 0.849);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    color: #ffffff;
    position: absolute;
    top: -250px;
    z-index: -1;
    font-family: "OpenSansLight";
    font-size: 30px;
    transition: top ease-in 0.2s;
}

.mobileMenuText
{
    height: 50px;
}

.bigHeader_block
{
    height: 180px;
    margin-top: 35px;
    text-align: center;
}

.big_header
{
    font-size: 35px;
}



.signForm_block
{
    margin-top: 80px;
}

.login, .pass, .sub_btn
{
    margin-left: 10%;
    height: 55px;
    width: 75%;
}

.advantages_block
{
    background: none;
    height: auto;
}

.advantageList_block
{
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
}

.advLeftClock_text, .advLeftGlobe_text, .advRightIphone_text, .advRightMan_text
{
    font-size: 20px;
}

.advLeft_clock
{
    height: 270px;
}

.advLeft_globe
{
    height: 280px;
}

.advRight_iphone
{
    height: 315px;
}

.advRight_list
{
    margin-top: 20px;
}

.advRight_man
{
    height: 280px;
    margin-bottom: 30px;
}

.checkIn_header
{
    margin-left: 0;
}

.coursesHeader_big
{
    font-size: 41px;
}

.coursesHeader_small
{
    text-align: center;
}

.coursesList_programming, .coursesList_economics, .coursesList_algorithm, .coursesList_history
{
	transform: scale(0.67);
}

.partners_block
{
    height: auto;
}

.partners_header
{
    font-size: 40px;
}

.logo_leftBtn, .logo_rightBtn
{
    width: 30px;
    height: 30px;
    background-size: 30px;
    top: 235px;
}

.logo_leftBtn:hover, .logo_rightBtn:hover
{
    background-size: 30px;
}

.partnersLogo_block
{
    width: 295px;
}

.partnersLogo_slider
{
    width: 635px;
}

.partners_slide1, .partners_slide2, .partners_slide3, .partners_slide4
{
    width: 150px;
    height: 200px;
    background-position: center 0px;
}

.partners_certificate
{
    height: 620px;
}

.harvardCertificate_photo
{
    width: 100%;
    background-size: 140% 240px;
}

.harvardCertificate_block
{
    width: 90%;
    left: 20px;
    top: 260px;
}

.certificate_btn
{
    margin-left: 0;
}

.ourTeam_block
{
    height: auto;
}

.ourTeam_workers
{
    flex-wrap: wrap;
}

.worker1, .worker2, .worker3, .worker4
{
    margin-bottom: 40px;
}

.checkIn_block
{
    height: auto;
}

.checkIn_header
{
    font-size: 47px;
    text-align: center;
}

.checkIn_text
{
    margin: 30px 0 10px 0;
    text-align: center;
    font-size: 22px;
}

.checkIn_Form
{
    margin-left: 0;
    margin-bottom: 30px;
}

.checkIn_name, .checkIN_mail
{
    width: 95%;
}

.madeBy, .ispiredBy
{
    font-size: 22px;
}