.menu_block
{
	flex-direction: column;
	align-items: center;
}

.logo
{
	margin-left: 0;
	margin-top: 5px;
	font-size: 60px;
}

.menu
{
	width: 80%;
    margin-left: 0;
    margin-top: 20px;
}

.bigHeader_block
{
	height: 115px;
}

.big_header
{
    margin-left: 0;
    font-size: 40px;
}

.small_header
{
    margin-left: 0;
    font-size: 20px;
}

.advantages_block
{
	background-size: 6%;
    background-position: center 325px;
}

.advantageList_block 
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.advLeft_list
{
	width: 300px;
}

.advLeft_clock, .advRight_iphone
{
	height: 250px;
}

.advLeft_globe
{
	margin-top: 33px;
}

.advRight_list
{
	width: 300px;
	margin-left: 0;
}

.courses_block
{
	height: auto;
}

.coursesList_block
{
	flex-direction: column;
    align-items: center;
}

.coursesList_right
{
	margin: 19px 0;
}

.partnersLogo_slider
{
	align-items: center;
}

.partners_slide1, .partners_slide2, .partners_slide3, .partners_slide4
{
	background-size: contain;
	width: 200px;
	height: 245px;
	margin-right: 20px;
}

.partnersLogo_block
{
	width: 645px;
}

.harvardCertificate_photo
{
	background-position: -133px 0;
}

.harvardCertificate_block
{
	left: 53%;
}

.worker1, .worker2, .worker3, .worker4
{
	width: 180px;
}

.worker_text
{
	width: 169px;
	font-size: 12px;
}